/*Header*/

.header{
    height: 100px;
    background-color: var(--white-color);
    width: 100%;

}

.header__item{
    height: 100%;
    display: flex;
    align-items: center;
}

.header__item-img{
    width: 80px;
    margin-left: 30px;
}

.header__item-span{
    font-size: 3rem;
    margin-left: 20px;
}

/*Content*/
.content{
    position: relative;
}
.content__item{

}

.content__item-img{
    position: absolute;
    z-index: -1;

}

.auth-form{
    margin-top: 30px;
    position: absolute;
    left: 35%;
    width: 500px;
    border-radius: 5px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary--color);
    cursor: pointer;

}

.auth-form__switch-b{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary--color);
    cursor: pointer;
    text-decoration: none;
}

.auth-form__form{

}

.auth-form__input{
    width: 100%;
    height: 40px;

    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}
label{
    padding: 0 12px;
    display: block;
    margin-top: 16px;
    font-size: 1.4rem;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary--color);
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.auth-form__controls-back{
    margin-right: 8px;
    background-color: var(--white-color);
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__socials--google{
    color: #666;
    background-color: var(--white-color);
}

.auth-form__socials-title{
    margin: 0 16px;
}

.auth-form__helps{
    display: flex;

    justify-content: flex-end;
}

.auth-form__helps-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #939393;
}

.auth-form__helps-separate{
    display: block;
    height: 22px;
    border-left: 1px solid #EAEAEA;
    margin: -3px 16px 0;
}

.auth-form__helps-forgot{
    color: var(--primary--color);
}


/* Nút mặc định */
.btn--primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s, cursor 0.3s;
}

/* Khi nút bị vô hiệu hóa */
.btn--primary:disabled {
    background-color: rgba(0, 123, 255, 0.5); /* Trong suốt */
    cursor: default; /* Con trỏ mặc định */
    opacity: 0.5; /* Làm mờ nút */
}
