* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    font-size:18px;
}

/* Container chính */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;

}

/* Tiêu đề trang */
.title {
    font-size: 3rem; /* Kích thước chữ */
    color: #ff4500; /* Màu chữ */
    text-align: center;
    text-transform: uppercase; /* Viết hoa toàn bộ */
    animation: glow 2s infinite; /* Tên hiệu ứng, thời gian, lặp vô hạn */
    font-family: 'Arial', sans-serif; /* Kiểu chữ */

}
